body { 
    font-size: 6pt; 
    width: 90%;
}

.content {
    overflow: auto;
    margin: 0;
    padding-top: 0px;
}

h1 {
    margin-bottom: 0px;
}

@page { 
    margin: 0.6cm; 
}

p, h3 { 
    orphans: 3; 
    widows: 3; 
    margin: 0;
    padding: 0;
}

h3 { 
    page-break-after: avoid; 
}

section article {
    display: inline-block;
    vertical-align: top;
    margin-right: 0px;
    margin-top: 0px;
}

section img {
    width: 65px; 
    height: 85px;
}

section article heading {
    margin-top: 0px;
}

section article img {
    width: 93px; 
    height: 93px;
}

ul {
    margin: none;
    padding: none;
    list-style:none;
}

#banner {
    display: block;
    padding: 6px;
    margin-bottom: 3px;
    font-size:1.6em;
    font-weight: bold;
    background: #666;
    color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
