body {
    margin: 0 auto;
    width: 59%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    line-height: 20px;
    max-width: 1260px;
    min-width: 270px;
    margin-top: 25px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style:none;
}

li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    margin-bottom: 10px;
    font-size:1.2em;
}

h1 {
    display: block;
    padding-bottom: 3px;
    margin-bottom: 7px;
    font-size:1.5em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

/* ========================================
   ----------------- Content --------------
   ======================================== */

#banner {
    display: block;
    padding: 8px;
    margin-bottom: 7px;
    font-size:1.8em;
    font-weight: bold;
    background: #666;
    color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.content {
    overflow: auto;
    margin: 0;
    padding-top: 15px;
}

section {
    display: block;
    text-align: justify;
}

section p {
    text-align: left;
}


section:after {          
    content: "";
    width: 100%;
    display: inline-block;
}

section img {
    width: 93px; 
    height: 118px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 2px 10px 5px 5px;
    float: left;
}

section article ul li {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
}

section article {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

section article img {
    width: 100px; 
    height: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0px 10px 15px 5px;
    float: left;
}

section article a {
    color: #000;
}

section article heading {
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 1.1em;
    display: block;
    text-align: justify;
    font-weight: bold;
    line-height: 1.1;
    color: #666;
}

section article heading a  {
    color: #666;
}

section article heading .at  {
    font-weight: normal;
    font-style: italic;
    display: inline;
}

section article heading h2  {
    font-size: 1.1em;
    display: inline-block;
}

section article heading date {
    display: inline-block;
}

section article heading .to  {
    font-weight: normal;
    font-style: italic;
    display: inline;
}

section article heading:after {   
    font-size: 0;
    line-height: 0;
    content: " ";
    width: 100%;
    display: inline-block;
}

.social_option {
    display: inline-block;
    font-size:1.1em;
}

.social_option img {
    opacity:.7;
    filter:alpha(opacity=80);
    border: none;
    width: 18px; 
    height: 18px;
}

.social_option:hover {
    opacity:.6;
    filter:alpha(opacity=60);
}

.social_option:after {   
    height: 0;
    font-size: 0;
    line-height: 0;
    content: " ";
    width: 100%;
    display: inline-block;
}

.skill {
    text-align: center;
    display: inline-block;
    font-size:1.1em;
    width: 25%;
}